<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - User Page</title>
    <link rel="stylesheet" href="~/css/UserStyle.css" />
</head>
<body>
    <header>
        <h1>Extraordinary rooms with elegant, yet a rustic atmosphere</h1>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p>Images from <a href="https://www.freepik.com">Freepik</a></p>
        <p>This site was created with <a href="https://nicepage.com">Nicepage</a></p>
    </footer>
</body>
</html>
