<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="~/css/ContactStyle.css" />


</head>
<body>

   
    <section>
        <div class="container">
            <div class="contactinfo">
                <div>
                    <h2>Contact Us</h2>
                    <ul class="info">
                        <li>
                            <span>
                                <img src="https://www.clipartmax.com/png/middle/121-1214856_pro-locator-free-location-icon-vector.pn" />
                            </span>
                            <span>
                                1 John Smith Street <br />
                                Smithville <br />
                                Smithland
                            </span>
                        </li>
                        <li>
                            <span>
                                <img src="https://p7.hiclipart.com/preview/663/97/225/email-computer-icons-message-bounce-address-email-icon.jp" />
                            </span>
                            <span>
                                johnsmith@johnsmith.com
                            </span>
                        </li>
                        <li>
                            <span>
                                <img src="https://www.pinclipart.com/picdir/middle/210-2108807_tete-mobile-svg-png-icon-free-download-phone.pn" />
                            </span>
                            <span>
                                01234567890
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contactusform">
                <h2>Send Us A Message</h2>
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea name="" required></textarea>
                        <span>Please enter a message</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </div>
        </div>
    </section>


   

</body>
</html>