
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<h1>Login</h1>

<form method="post" action="/User/Login">
    <input type="text" name="username" placeholder="Username" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
</form>
@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}
<a asp-controller="User" asp-action="Register">Go to register</a>